[contenteditable] {
    cursor: pointer;
}

[contenteditable]:hover,
[contenteditable]:focus {
    background-color: #E8F3FF;
}

[contenteditable]:focus {
    outline: 1px solid #19BCEA;
    box-shadow: inset 0 1px 1px rgba(100, 100, 100, 0.075), 0 0 8px rgba(25, 188, 234, 0.6);
}